/* Tablet layout stlyes */
@media (min-width: 44em) {
  html {
    padding: 17.3rem 7.8rem;
  }
  .main {
    width: 68rem;
  }
  .timeframe-selector {
    gap: 0.8rem;
  }
  .three-cards-wrapper {
    flex-direction: row;
  }
  .card {
    width: 21rem;
    height: 21.3rem;
    align-self: unset;
    flex-shrink: 0;
  }
  .card-info-wrapper {
    height: 18rem;
  }
  .card-info-container {
    gap: 1.6rem;
  }
  .card-state {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .current-hours {
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 6.6rem;
  }
}

/* Desktop layout styles */
@media (min-width: 63em) {
}
